[mysqld]
# mysqlサーバーの文字コード
character-set-server=utf8mb4

# v8 sha2 対応
default_authentication_plugin=mysql_native_password

# timeStamp型のワーニングログ抑制
explicit-defaults-for-timestamp=1

# クエリログ保持
general-log=1

# ログの出力先
general-log-file=/var/log/mysql/mysqld.log

[client]
# mysqlクライアントの文字コード（サーバーと合わせる）
default-character-set=utf8mb4